In [30]:
import pandas as pd
import seaborn as sns
import os
import numpy as np


data = pd.read_csv('C:/Users/daniu/Desktop/pi-dh/archive/brazil_covid19.csv')
data.head()

         date        region state  cases  deaths
0  2020-02-25  Centro-Oeste    DF    0.0       0
1  2020-02-25  Centro-Oeste    GO    0.0       0
2  2020-02-25  Centro-Oeste    MS    0.0       0
3  2020-02-25  Centro-Oeste    MT    0.0       0
4  2020-02-25      Nordeste    AL    0.0       0

In [31]:
import datetime
print(datetime.datetime.now())
today = datetime.datetime.now().strftime('%d/%m/%Y')

2021-06-21 15:36:04.496138

In [32]:
data.tail()

             date   region state      cases  deaths
12253  2021-05-23  Sudeste    RJ   840480.0   49515
12254  2021-05-23  Sudeste    SP  3188105.0  107614
12255  2021-05-23      Sul    PR  1060683.0   25506
12256  2021-05-23      Sul    RS  1059990.0   27419
12257  2021-05-23      Sul    SC   947810.0   14822

In [33]:
print('Data de início do dataset: ' + min(data['date']))
print('Data do final do dataset: ' + max(data['date']))

Data de início do dataset: 2020-02-25
Data do final do dataset: 2021-05-23