In [2]:
import pandas as pd
import seaborn as sns
import os
import numpy as np


data = pd.read_csv('C:/Users/daniu/Desktop/pi-dh/archive/brazil_covid19.csv')
data.head()

         date        region state  cases  deaths
0  2020-02-25  Centro-Oeste    DF    0.0       0
1  2020-02-25  Centro-Oeste    GO    0.0       0
2  2020-02-25  Centro-Oeste    MS    0.0       0
3  2020-02-25  Centro-Oeste    MT    0.0       0
4  2020-02-25      Nordeste    AL    0.0       0

In [31]:
import datetime
print(datetime.datetime.now())
today = datetime.datetime.now().strftime('%d/%m/%Y')

2021-06-21 15:36:04.496138

In [32]:
data.tail()

             date   region state      cases  deaths
12253  2021-05-23  Sudeste    RJ   840480.0   49515
12254  2021-05-23  Sudeste    SP  3188105.0  107614
12255  2021-05-23      Sul    PR  1060683.0   25506
12256  2021-05-23      Sul    RS  1059990.0   27419
12257  2021-05-23      Sul    SC   947810.0   14822

In [33]:
print('Data de início do dataset: ' + min(data['date']))
print('Data do final do dataset: ' + max(data['date']))

Data de início do dataset: 2020-02-25
Data do final do dataset: 2021-05-23

In [6]:
testes = pd.read_csv('C:/Users/daniu/Desktop/pi-dh/PI13_07/testes.csv')

In [7]:
testes

,UF,Quantidade PCR,Quantidade teste rápido,Valor PCR,Valor teste rápido
0,AC,159724,77360,7892541,1547517.0
1,AL,222856,113220,10380500,2284334.0
2,AM,349804,181980,16639955,3671640.0
3,AP,362128,25240,16697915,508977.0
4,BA,1395320,543900,63673191,10971419.0
5,CE,1696304,369960,85903748,7464337.0
6,DF,436936,388040,20939824,7757407.0
7,Doação para o exterior,134848,0,6036183,0.0
8,ES,184528,222350,9098891,4480813.0
9,GO,206344,280760,10642365,5653058.0
10,MA,310076,261400,14855434,5266840.0
11,MG,1089304,2826920,49035404,51561393.0
12,MS,557688,114700,25848928,2290826.0
13,MT,325388,121320,14331367,2439826.0
14,Órgãos Federais,0,0,0,NaN
15,PA,360492,286760,19964315,5783906.0
16,PB,379948,173660,17958477,3399170.0
17,PE,425072,336640,21991361,6792071.0
18,PI,314092,147780,14704243,2975499.0
19,PR,3813040,428200,183738459,8639390.0
20,RJ,3422552,1151905,169723459,23100504.0
21,RN,424240,179380,20040071,3605879.0
22,RO,282896,58560,13303096,1181510.0
23,RR,141496,28500,7580100,575017.0
24,RS,918572,518800,41808429,10466012.0
25,SC,645112,281940,33463701,5684449.0
26,SE,694760,176560,31053271,3257791.0
27,SP,4011876,2441260,204521855,48768619.0
28,TO,359512,60100,16972378,1212421.0

In [14]:
testes1 = pd.read_csv('https://github.com/RodneySoares/pi-dh/blob/main/dataset/testes.csv', sep='delimiter', header=None)

<ipython-input-14-575e0768b9b1>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  testes1 = pd.read_csv('https://github.com/RodneySoares/pi-dh/blob/main/dataset/testes.csv', sep='delimiter', header=None)

In [15]:
testes1

                                                      0
0                                       <!DOCTYPE html>
1     <html lang="en" data-color-mode="auto" data-li...
2                                                <head>
3                                <meta charset="utf-8">
4     <link rel="dns-prefetch" href="https://github....
...                                                 ...
1225                                  </clipboard-copy>
1226                                             </div>
1227                                        </template>
1228                                            </body>
1229                                            </html>

[1230 rows x 1 columns]